@import "tailwindcss";

:root {
  --background: #F4F6FB;
  --foreground: #111827;
}

@theme {
  --font-vazir: Vazirmatn, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* Offset for sticky header */
}

body {
  font-family: var(--font-vazir), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
