@import "tailwindcss";

:root {
  --background: #F4F6FB;
  --foreground: #111827;
}

body {
  font-family: var(--font-vazirmatn), sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
